.toastify{
    color: black;
    animation-name: text;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    margin-top: -600px;
    position: absolute;
    padding: 15px 20px;
    font-weight: bold;
  }
  @keyframes text {
    0%{
        background-color: grey;
        right: 20%;
        top: 0; 
        margin-top: 70px;
        
    }
    50%{
        background-color: grey;
        right: 20%;
        top: 20;
    } 100%{
        background-color: grey;
        right: 20%;
        top: 0;
        margin-top: 200px;
    }
  }