
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.statusbar_container{
    height: 16vh;
    width: 81%;
    border: 1px  #dbdbdb;
    margin-top: 1.2%;
    display: flex;
    overflow-x: scroll;
    margin-left: 15%;
    
}
   ::-webkit-scrollbar {
    display: none;
    
   }


.statusbar_status{
    min-width: 62px;
    min-height: 62px;
    border: 3px solid #DF3968;
}
.status{
    margin: 25px 9px;
}
.status img{
    max-height: 25px;
    max-width: 25px ;
    border-radius : 50%;
}
.statusbar_text{
    font-size: 12px;
    max-width: 60px;
    overflow-x: hidden;
    text-align: center;
}
.statusbar__upload {
    margin: 30px 20px 30px 30px;
}


@media (max-width: 768px) {
    /* Adjust styles for screens up to 768px width */
    .statusbar_container {
      height: 9vh;
      width: 80%;
      display: flex;
      overflow-x: scroll;
      margin-left: 1%;

      .statusbar_status{
        min-width: 32px;
        min-height: 32px;
        border: 2px solid #DF3968;
    }

    .status{
        margin: 4px 3px;
    }
    }
    .status img{
    max-height: 20px;
    max-width: 20px ;
    border-radius : 50%;
    margin-top: 0%;
}
.statusbar_text{
    font-size: 8px;
    max-width: 25px;
    overflow-x: hidden;
    text-align: center;
}
  }
  
  @media (max-width: 480px) {
    /* Adjust styles for screens up to 768px width */
    .statusbar_container {
      height: 6vh;
      width: 71%;
      display: flex;
      overflow-x: scroll;
      margin-left: 12%;
      background-color: white;

      .statusbar_status{
        min-width: 22px;
        min-height: 22px;
        border: 2px solid #DF3968;
    }

    .status{
        margin: 2px 4px;
    }
    }
    .status img{
    max-height: 15px;
    max-width: 15px ;
    border-radius : 50%;
    margin-top: 0%;
}
.statusbar_text{
    font-size: 8px;
    max-width: 25px;
    overflow-x: hidden;
    text-align: center;
}
  }
  
  

  
