body {
  background-color: #30c241;
}
.maincontent__container {
  max-width: 100% !important;
  overflow-y: scroll;
  max-height: 800px;
}

::-webkit-scrollbar {
  display: none;
}


.maincontent__container {
  -ms-overflow-style: none;
}
.container{
  display: flex;
}
.column{
  padding: 10px;
  border: 1px ;
}
.column-2{
  flex-basis: 25%;
}
.column-6{
  flex-basis: 50%;
}
.popup{
  height: 550Px;
  width: 35%;
  background-color: #fff;
  position: absolute;
  top: 12%;
  left: 32%;
  color: #333;
  box-shadow: 90px 90px 90px 90px rgba(5, 5, 5, 0.1);
  .popup-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 35px 0 15px;
    border-bottom: 2px solid black;
  }
  h1{
    cursor: default;
    margin-left: 120px;
  }
  p{
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  .inn{
    height: 70px;
    width: 150px;
    margin-left: 170px;
    margin-top: 20px;
  }
  .captionfile{
  padding: 8px 5px;
  width: 200px;
  height: 38px;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  background-color: #3897f0;
  }
}
.main{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(39, 145, 216, 0.719);
}
.captionn{
  height: 100px;
  width: 350px;
  margin-left: 90px;
}
.hidden{
  display: none;
}
h3{
  margin-left: 225px;
  margin-top: 20px;
}
.btn{
  height: 30px;
  width: 100px;
  margin-left: 75%;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #3897f0;
  color: #fff;
  font-weight: 600;
}


@media (max-width: 768px) {
  .column{
    padding: 0;
    border: 1px ;
  }
  .column-2{
    width: 0px;
  }
  .column-6{
  width: 100%;
}

  .popup {
    width: 90%;
    height: 40%;
    left:15%;
    top: 8%;


    .popup-header{
      display: flex;
      justify-content: space-between;
      padding: 10px 15px 10px 15px;
      border-bottom: 2px solid rgb(146, 142, 142);
    }
    h1{
      cursor: default;
      font-size: 10px;
      margin-left: 38%;
    }
    p{
      font-size: 15px;
      margin-top: 20px;
    }
    .captionfile{
      width: 30%;
      height: 20%;
      font-size: 8px;
      margin-left: 36%;
      margin-top: 2%;
    }
    h3{
      font-size: 15px;
      margin-left: 45%;
      margin-top: 2%;
    }
    .captionn{
     height: 50px;
      width: 50%;
      margin-left: 27%;
      margin-top: 10px;
      outline: black;
      padding: 0;
    }
    .btn{
      height: 20%;
      width: 15%;
      margin-top: 2%;
      margin-left: 80%;
    }
   
  }

 
}

@media (max-width: 480px) {
  .column{
    padding: 0;
    border: 1px ;
  }
  .column-2{
    display: none;
    width: 0px;
  }
  .column-6{
  width: 100%;
}

  .popup {
    width: 90%;
    height: 40%;
    left:15%;
    top: 8%;


    .popup-header{
      display: flex;
      justify-content: space-between;
      padding: 10px 15px 10px 15px;
      border-bottom: 2px solid rgb(146, 142, 142);
    }
    h1{
      cursor: default;
      font-size: 10px;
      margin-left: 38%;
    }
    p{
      font-size: 15px;
      margin-top: 20px;
    }
    .captionfile{
      width: 30%;
      height: 20%;
      font-size: 8px;
      margin-left: 36%;
      margin-top: 2%;
    }
    h3{
      font-size: 15px;
      margin-left: 45%;
      margin-top: 2%;
    }
    .captionn{
     height: 50px;
      width: 50%;
      margin-left: 27%;
      margin-top: 10px;
      outline: black;
      padding: 0;
    }
    .btn{
      height: 20%;
      width: 15%;
      margin-top: 2%;
      margin-left: 80%;
    }
   
  }

 
}