.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-card {
    width: 370px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;

    .logo {
      width: 200px;
      display: block;
      margin: 0 auto;
      margin-bottom: 40px;
    }
    .login{
      input {
        width: 90%;
        margin-bottom: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-left: 6%;
        background-color: #fff;
        height: 35px;
        font-size: 12px;
        padding: 5px;
      }
      button {
        width: 90%;
        margin: 9px 15px;
        background-color: #3897f0;
        color: #fff;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        height: 35px;
      }

    }
    .forgot-password {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 25px;

      a {
        color: #3897f0;
        text-decoration: none;
      }
  }
  
} 






  