.sidenav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .sidenav__logo {
    width: 110px;
    margin: 25px;
  }
  
  .sidenav__buttons {
    display: flex;
    flex-direction: column;
  }
  
  .sidenav__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: 0;
    border: 0;
    margin: 5px 10px 5px 5px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    width: 100%;
  }
  
  .sidenav__button:hover {
    cursor: pointer;
    background-color: rgba(95, 69, 69, 0.128);
  }
  
  .sidenav__button span {
    font-size: 14px;
    margin-left: 12%;
  }
  .sidenav__button span:hover{
    font-weight: 600;
  }
  .sidenavimg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .sidenav__more {
    position: fixed;
    bottom: 3px;
  }
  
  .logout__button {
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 255, 255, 0.211);
    border: 0;
    padding: 10px;
  }
  
  .logout__button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.424);
  }